.app {
    background: var(--ion-color-insideapp) !important;
    color: #F8F8F8 !important;
}

.btnapp{
    color: #f8f8f8;
    height: 50px;
    border-radius: 0.5em;
}

.map{
    width: 100%;
    height: 480px;
}

.btnmap{
    background: #fafafa;
}