<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-grid style="background-image: url(../assets/icon/menub.svg); background-repeat: no-repeat;">
          <ion-row style="margin-top: 40px;">
              <ion-col size="12" align="center">
                <ion-menu-toggle auto-hide="false">
                  <img src="../assets/icon/avatar.svg" class="avatar">
                </ion-menu-toggle>
              </ion-col>
            <ion-col size="12" class="ion-padding" align="center" style="margin-top: -8%;">
              <span style="font-size: 1.4em;">Hola, {{ name }}</span><br>
              <label style="font-size: 0.9em;"> {{ email }}</label>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list class="ion-padding">
          <ion-menu-toggle auto-hide="false">
            <div [routerDirection]="'root'" [routerLink]="['/traceroute']" style="padding: 7% 6% 7% 15%;">
              <ion-row>
                <ion-col size="2">
                  <img src="../assets/icon/user_.svg" width="50%" alt="">
                </ion-col>
                <ion-col size="10">
                  <ion-label>Rutas</ion-label>
                </ion-col>
              </ion-row>
            </div>
            <div [routerDirection]="'root'" [routerLink]="['/user']" style="padding: 7% 6% 7% 15%;">
              <ion-row>
                <ion-col size="2">
                  <img src="../assets/icon/user_.svg" width="50%" alt="">
                </ion-col>
                <ion-col size="10">
                  <ion-label>Mi cuenta</ion-label>
                </ion-col>
              </ion-row>
            </div>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>